@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
box-sizing: border-box;
background-color: #a9dfdf;

-moz-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
text-size-adjust: 100%;
}
}

*, *::before, *::after {
	box-sizing: inherit;
}

.oswald {
	font-family: 'Oswald', sans-serif;
}

.ruda {
	font-family: 'Ruda', sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.white {
	color:#FFFFFF;
	margin: 0;
}


.billboard {
margin: inherit;
background-image: url(../images/nature.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position:center;
background-color: none;
overflow: hidden;
position: relative;
height: 40rem;
width: 100%;
}

.billboard {
margin: inherit;
background-image: url(../images/banner.svg);
background-size: cover;
background-repeat: no-repeat;
background-position:center;
background-color: none;
overflow: hidden;
position: relative;
height: 40rem;
width: 100%;

}

.billboard-inside {
background-color: rgba(0,0,0,0.5);
position: absolute;
bottom: 3%;
margin: 0 auto;
width: 100%;
}


.contact ul li{
	display:inline-block;
	max-width:40px !important;
	margin:0;
	
}

.contact li a img{
	max-width:30px;
	margin:0;

}

.contact {
	text-align:center;
	margin:0;
}